@model MVCGiris.Models.LoginModel

@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@Html.TextBoxFor(t=>t.Name)*@
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Hoşgeldiniz</h1>
                                </div>
                                
                                @using (Html.BeginForm("login", "Home", FormMethod.Post))
                                        {
                                <div class="form-group">
                                    <h6>@Html.LabelFor(m => m.Mail)</h6>
                                    @Html.TextBoxFor(m => m.Mail, new { @class = "form-control form-control-user aria-describedby='emailHelp'",placeholder="Kullanıcı Adı" })
                                    @Html.ValidationMessageFor(m => m.Mail)

                                    @*<input type="email" class="form-control form-control-user" id="txtAd" name="txtAd" aria-describedby="emailHelp" placeholder="Email adresi giriniz...">*@
                                </div>
                                    <div class="form-group">
                                        <h6>@Html.LabelFor(m=>m.Password)</h6>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user ",placeholder="Şifre" })
                                        @Html.ValidationMessageFor(m=>m.Password)
                                        @*<input type="password" class="form-control form-control-user" id="txtSifre" name="txtSifre" placeholder="Şifre giriniz...">*@
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Giriş" />
                                    <hr>
                                    <div>
                                        @Html.ValidationSummary(true)
                                        @Html.ValidationMessage("LoginModel")
                                        
                                    </div>
                                }


                                @*<form class="user" action="/Home/login" method="post">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" id="txtAd" name="txtAd" aria-describedby="emailHelp" placeholder="Email adresi giriniz...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="txtSifre" name="txtSifre" placeholder="Şifre giriniz...">
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-user btn-block" value="Giriş" />
                                        <hr>
                                    </form>*@
                                <div class="text-center">
                                    <a class="small" href="/Home/register/">Kayıt ol</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>