@model MVCGiris.Models.MesajModel
@{
    Layout = null;
}

<!DOCTYPE html>



<table class="table">
        <tr>

            <td>
                <p><b> Kimden :</b>  @Html.DisplayFor(modelItem => modelItem.Kim)  </p>
                <hr />
                <h4><b>@Html.DisplayFor(modelItem => modelItem.baslik)</b></h4>
                @Html.HiddenFor(modelItem => modelItem.baslik)
                @Html.HiddenFor(modelItem => modelItem.mesajGelen)
                <p>@Html.DisplayFor(modelItem => modelItem.tarih) </p>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.icerik)
                @Html.HiddenFor(modelItem=>modelItem.id)
            </td>
        </tr>


        <tr>
            <td> Cevap Yaz</td>
        </tr>
        <tr>
            <td>@Html.TextAreaFor(modelItem => modelItem.Cevap)</td>
        </tr>
    </table>